1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

In [1]:
"""From the above example 
hello - Value
87.8 - Value
/ - expression
6 - Value
"""

2. What is the difference between string and variable?

In [2]:
"STRINGS - series of characters/words"# Hello - is a string
"Variable - Used to assign the values"# a = "Hello" a is a variable

'STRINGS - series of characters/words'

3. Describe three different data types.

In [5]:
a = "Hello World" # STRING
b = True  # Bool
c = ['Data Analyst','Data Scientist', 'Data Engineer']
print(a)
print(b)
print(c)

Hello World
True
['Data Analyst', 'Data Scientist', 'Data Engineer']

4. What is an expression made up of? What do all expressions do?

In [6]:
"""Expressions are nothing but the operators that are user to perform some calculation to get desired output's."""

"Expressions are nothing but the operators that are user to perform some calculation to get desired output's."

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [8]:
""""Expressions are nothing but the operators that are user to perform some calculation to get desired output's."
"""
"""Statement is executable form of code that is used by python to execute by interpreter """

'Statement is executable form of code that is used by python to execute by interpreter '

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [9]:
bacon = 22 #
bacon + 1

23

In [11]:
bacon #bacon contains the assigned value the original values remains same

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [12]:
'spam' + 'spamspam'# String concatination

'spamspamspam'

In [14]:
'spam' * 3 #Both the above the current one are same

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [16]:
"""egg is a string that can be used to assign any values """
"""where as 100 is an integer and assignment is not posssible for the integers data types"""

'where as 100 is an integer and assignment is not posssible for the integers data types'

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [23]:
a = int()
b = float()
c = str()
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [24]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [25]:
"Concatination is only possible with string but not with integers"

'Concatination is only possible with string but not with integers'

In [26]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'